<%- include("./partials/header") %>


<div class="entry-container">
    <h1>Grab Your Books</h1>
    <form class="container w-50  p-4 " action="/create" method="post" enctype="multipart/form-data">
        <!-- <input type="file" name="image">
        <input type="text" placeholder="Book name" name="bookname"><br> 
        <input type="text" placeholder="Book price" name="bookprice"><br> 
        <input type="text" placeholder="Author name" name="authorname"><br>
        <input type="text" placeholder="Book Quantity" name="bookquantity"><br> 
        <input type="text" placeholder="Book Category" name="bookcategory"><br>
        <textarea name="description" cols="30" rows="10" placeholder="Book description"></textarea> <br> 
        <button>Click here</button> -->
        <input class="form-control mb-2 p-6" type="file" name="image" />


        <input class="form-control mb-2 p-6" type="text" placeholder="Book Name" name="bookname" />

        <input class="form-control mb-2 p-6" type="text" placeholder="Book Price" name="bookprice" />

        <input class="form-control mb-2 p-6" type="text" placeholder="Author Name" name="authorname" />


        <input class="form-control mb-2 p-6" type="text" placeholder="Book Quantity" name="bookquantity" />

        <input class="form-control mb-2 p-6" type="text" placeholder="Book Category" name="bookcategory" />
        <textarea class="form-control mb-2 p-6" name="description" id="" cols="30" rows="10"
            placeholder="enter text here..."></textarea>

        <button class="btn btn-primary">Add Book</button>
    </form>

</div>



<%- include("./partials/footer") %>
