<%- include("./partials/header") %>

<div class="container1">
    
<div class="content1">
    <h1>Welcome to our <br> <span>book Mart</span></h1>
</div>
</div>


<%- include("./partials/footer") %>




